.website-title{
    color: #DC2626;
}
.menu-icon{
    width: 30px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    color: #ffffff;
}
.header-container{
    height: 70px;
    width: 90%;
    margin: 0 auto;
    padding: 12px 0;
}
.header-menu{
    text-align: right;
}
.header-menu a{
    color: white;
    margin: 5px 15px;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
}
.login-button{
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 600;
    background-color: #F34E3A;
    padding: 4px 18px 6px;
    margin-left: 5px;
}
.login-button:hover{
    background-color: #DC2626;
}

@media only screen and (min-width: 992px) {
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }
    .header-menu {
        display: flex;
        align-items: center;
        position: static;
    }
    .menu-icon{
        display: none;
    }
}