.footer-container{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.footer-container a{
    color: white;
    display: inline-block;
    font-weight: 600;
}
.footer-container a:hover{
    color: red;
}
.newsletter-btn{
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
    margin-left: 7px;
}